<template>
<v-app style="background-color:gray; height:100vh;">
<!-- sementara -->
  <!-- <admin-navigator v-if="authenticated"></admin-navigator>
  <client-navigator v-else></client-navigator> -->
  <admin-navigator ></admin-navigator>
  <client-navigator></client-navigator>
  <router-view ></router-view>
  <!-- <categories></categories> -->
</v-app>
</template>

<script>
import AdminNavigator from './components/admin/AdminNavigator.vue'
import ClientNavigator from './components/client/ClientNavigator.vue'
import EventBus from './eventbus'
// import Categories from './screens/category/categories.vue'
// import Shop from './screens/client/shop/Shop.vue'

export default {
  components: { AdminNavigator , ClientNavigator},
  data: function() {
    return {
      authenticated: false
    }
  },
  methods: {
    authCheck() {
      axios.get('http://127.0.0.1:8000/api/login').then(response => {
        if(response.status >= 200 && response.status < 300 ) {
          this.authenticated = true
        }
      }).catch(err => this.authenticated = false )
    }
  },mounted() {
    var self = true
    this.authCheck()
    EventBus.$on('authCheck', function (payload) {
      self.authCheck()
    })
  }

}
</script>

<style>

</style>